.main {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../img/main-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 0px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  @media screen and (max-width: 480px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../img/main-img-m.jpg');
    background-size: cover;
  }

  @media screen and (min-width: 481px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../img/main-img-t.jpg');
    background-size: cover;
  }

  @media screen and (min-width: 1199px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../img/main-img.jpg');
  }
}

.main__title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $header-color;

  @media screen and (max-width: $max-tablet) {
    font-size: 26px;
    line-height: 1.62;
  }
}

.main__btn {
  cursor: pointer;
  border-radius: 4px;
  border: 0;

  width: 200px;
  height: 50px;

  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
